/*CHART HEADINGS*/

.chart-headings {
  align-items: center;
}


/* FOOTER SECTION */



/*EXCEPTIONAL STYLING*/

p {
  color: black;
}

ul {
  color: black;
}

#NUFORC {
  font-weight: 900;
}

#summary-paragraph {
  text-align: left;
}

/* NAVBAR SECTION */

/* CONTAINER BLOCKS SECTION */

#container-open {
  padding: 20px 20px;
}

.container-blocks {
  border: 1px solid gray;
  padding: 20px;
}

/* ACCORDION SECTION */

.accordion {
  background-color: #1ae851;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px;
  width: 50%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Button background color when hovered and/or clicked */

.active,
.accordion:hover {
  background-color: #1ae8aa;
}

/* Accordion panel - note: hidden by default */

.panel {
  padding: 0 18px;
  background-color: #f9fad4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* SIGHTINGS BY CONTINENT CHART */

/* SIGHTINGS BY STATE CHART */

/*Rotate state on x-axis to fit*/

#state .axis.x text {
  transform: rotate(-45deg) translate(-20px, 0px);
}

/* DURATION OF SIGHTINGS CHART */

#duration .pie-slice {
  font-size: 16px;
}


/* NON-US SIGHTINGS CHART */

.dc-chart g.row text {
  fill: #000000;
  font-size: 14px;
  cursor: pointer;
}

/* TABLE */

/*------------------------------------Media queries*/

@media(min-width:320px) and (max-width:640px) {


}
